/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header */
header {
    background-image: url(../IMG/jumbo.png);
    background-size: cover;
    background-position-x: center;
}



/* navigazione */
#container-nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2%;
}


/* regole generali colonne nav */
.column {
    display: flex;
    align-items: center;
}


/* regole navigazione */
.left {
    width: 15%;
    padding-left: 0.5em;
}

/* logo */
.left img {
    width: 70%;
}


/* regole navigazione centrale */
.center {
    width: 50%;
    justify-content: center;
}

#nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#nav-item li {
    padding: 0.8em;
}


/* regole navigazione destra */
.right {
    width: 15%;
    justify-content: end;
    padding-right: 0.5em;
}

.right .main-button {
    font-size: 12px;
}



/* regole generali pulsanti */
.main-button {
    border-radius: 40px;
    padding: 1em;
    border: 0px;
    margin: 2%;
    font-size: 14px;
}
.main-button:hover {
    cursor: pointer;
    background-color: #5e6fa5;
}

.white {
    background-color: #fff;
    color: black;
    font-weight: 600;
}
.white:hover {
    background-color: #000;
    color: #fff;
}

.dark {
    background-color: #222629;
    color: #fff;
    font-weight: 600;
}
.dark:hover {
    background-color: #fff;
    color: #000;
}

.purple {
    background-color: #8EA1E1;
    color: #fff;
    font-weight: 600;
}


/* stile generale dei link */
.decoration-link {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
}



/* intestazione */
#container-intestazione {
    padding: 8% 20%;
}

.contenuto-intestazione {
    text-align: center;
    color: white;
    padding: 2%;
}

.contenuto-intestazione h1 {
    padding-bottom: 6%;
    font-size: 36px;
    font-weight: 800;
}

.contenuto-intestazione p {
    padding-bottom: 4%;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

#button-intestazione .white::before{
    content: '\2193';
}



/* regole generali container main */
.container-content {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8% 12%;
}


/* content */
.big-img {
    width: 100%;
}

.big {
    width: 60%;
}

.small {
    width: 40%;
    padding: 2%;
}

.bg-gray {
    padding: 6% 12%;
    background-color: #D3D3D3;
}

.txt h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 110%;
    padding-bottom: 0.5em;
}

.txt p {
    font-size: 16px;
    line-height: 140%;
}


.full-page {
    text-align: center;
}


/* cta */
#cta {
    padding-top: 4%;
    background-image: url(../IMG/stars.svg);
    background-size: 80%;
    background-position-x: center;
    background-repeat: no-repeat;
}

#cta h3 {
    font-size: 22px;
    font-weight: 800;
    margin: 2%;

}

#cta .purple::before{
    content: '\2193';
    color: white;
    padding-right: 8px;
}



/* regole generali footer */
Footer {
    background-color: #23272A;
    padding: 8% 12%;
}

.container-foot {
    display: flex;
    justify-content: center;
    align-content: center;
}


/* content footer top*/
.big-footer-content {
    height: 400px;
    width: 40%;
    color: white;
}

.small-footer-content {
    height: 400px;
    width: 20%;
    background-color: #20B2AA;
}

hr {
    margin: 4% 0 2%;
    border-color: #22262A;
}

.txt-purple {
    color: #7289DA;
    margin-bottom: 8%;
}

/* regole scelta lingua */
.start-foot {
    display: flex;
    justify-content: flex-start;
    align-content: center;

}

.start-foot img {
    height: 16px;
    margin-right: 4%;
}

.arrow-icon {
    width: 12px;
    color: white;
    margin-left: 4%;
}

.arrow-icon:hover {
    cursor: pointer;
}
/* regole social icon */

.social-icon {
    margin: 12% 2px;
}

.social-icon:hover {
    cursor: pointer;
}


/* content footer bottom */
.info-footer {
    justify-content: space-between;
}