/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* header */
header {
    background-image: url(../IMG/jumbo.png);
    background-size: cover;
    background-position-x: center;
}

/* navigazione */
#container-nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2%;
}



/* colonne nav */
.column {
    display: flex;
    align-items: center;
}

/* navigazioni laterali */

/* logo */
.left {
    width: 15%;
    padding-left: 0.5em;
}

.left img {
    width: 70%;
}


/* pulsante Accedi */
.right {
    width: 15%;
    justify-content: end;
    padding-right: 0.5em;
}


/* regole generali pulsanti */
.nav-button {
    border-radius: 20px;
    padding: 12%;
    border: 0px;
}

.main-button {
    border-radius: 40px;
    padding: 1em;
    border: 0px;
    margin: 2%;
    font-size: 14px;
}

.white {
    background-color: #fff;
    color: black;
    font-weight: 600;
}

#button-header .white::before{
    content: '\2193';
    color: black;
}

.dark {
    background-color: #222629;
    color: #fff;
    font-weight: 600;
}


/* navigazione centrale */
.center {
    width: 50%;
    justify-content: center;
}

#nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#nav-item li {
    padding: 0.8em;
}



/* stile dei link */
.decoration-link {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

/* header */
#container-intestazione {
    padding: 8% 20%;
}

.contenuto-header {
    text-align: center;
    color: white;
    padding: 2%;
}

.contenuto-header h1 {
    padding-bottom: 6%;
    font-size: 36px;
    font-weight: 800;
}

.contenuto-header p {
    padding-bottom: 4%;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}


/* section content */
.container-content {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 6% 12%;
}

/* debug */
.db {
    border: 2px dotted black;
}

/* content */
.big {
    width: 60%;
}

.small {
    width: 40%;
}

.big-content {
    height: 400px;
    width: 100%;
}

.big-gray {
    padding: 6% 12%;
    background-color: #D3D3D3;
    text-align: center;
}



/* content footer top*/
.big-footer-content {
    height: 400px;
    width: 40%;
    background-color: #F08080;
}

.small-footer-content {
    height: 400px;
    width: 20%;
    background-color: #20B2AA;
    border: 2px dotted white;
}

.bg-black {
    background-color: #23272A;
}


/* content footer bottom*/
.container-footer {
    height: auto;
    padding: 4% 12% 0;
}

#info-footer {
    display: flex;
    justify-content: space-between;
    padding: 4% 0;

    /* debug */
    background-color: #7FFFD4;
}

.decoration-button {
    padding: 0.5em;
    font-size: 16px;
}